.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets//ben-white-unsplash.jpg) center/cover no-repeat;
}

.hero-title {
  text-align: center;
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

.shop-now-btn {
  text-align: center;
}
